h1 {
    font-size: 56px;
    text-align: center;
}

.scroll {
    overflow-y:auto;
}

.better-sleep {
    margin-left: 5px;
    color: white;
    margin-bottom: 0px;
    font-size: 40px;
}

.better-you {
    margin-left: 25px;
    color: white;
    font-size: 45px;
}

.body-1 {
    font-family:Arial, Helvetica, sans-serif;
}

.login-please {
    margin-top:50px;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    
}

.login-button {
    padding: 10px 10px;
    font-size: 18px;
    color:white;
    background-color: #000100;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.survey-button {
    padding: 5px 5px;
    font-size: 18px;
    color:white;
    background-color: #000100;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: 	#5f9ea0; /* Darker green background on hover */
}

.start-survey {
    padding-left: 2%;
    padding-bottom: 2%;
}
.survey {
    padding: 5%;
    height:10%;
    height: 650pt;;
}

#scheduleDiv {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    color: #333;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.start-survey-buttons {
    padding-left: 5%;
    padding-bottom: 2%;
}

#start-survey-last-question {
    padding-bottom: 20%;
    padding-left: 2%;
    padding-bottom: 40%;
}


/* Body styles */
#meditation-body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding-bottom: 50px; /* Add some padding to accommodate the footer */
}

/* Heading styles */
#meditation-heading {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

/* Tips for Meditating section styles */
#meditation-tips {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#meditation-tips h3 {
    color: #333;
}

#meditation-tips ul {
    list-style-type: none;
    padding-left: 20px;
}

#meditation-tips li {
    margin-bottom: 10px;
}

/* Meditation videos section styles */
#meditation-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#meditation-videos iframe {
    margin: 10px;
}

/* Footer styles */
footer {
    background-color: #67AAF9;
    color: #fff;
    text-align: center;
    padding: 0px; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.container-2 {
    margin: 0 10%;
    
}


