body {
    background-color: #0466c8;
    color:black;
    font-family: "Bree Serif" ;
}
  

/* Head */
.navbar {
    background-color: #5390d9;
}

#progressChart {
    background-color: #5390d9;
}

/* For main page */

.p-4 {
    background-color: #0466c8;
}

.main-body{
    background-color: #023E7D;
}



/* Footer */
.fixed-bottom {
    background-color: #5390d9;
}




a:hover {
    color: #E0B1CB;
}

div{
    font-family: "Bree Serif" ;
}




.nav-link {
    color: black;
}

.btn-info {
    padding: 10px 10px;
    font-size: 18px;
    color:black;
    background-color: #BE95C4;
    border-radius: 10px;
    border-color: #E0B1CB;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #001845; /* Lighter lavender background on hover */
    color: white;
}

.btn-primary {
    padding: 10px 10px;
    font-size: 18px;
    color:lightgray;
    background-color: #001845;
    border-radius: 10px;
    border-color: #0353A4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #001845; /* Lighter lavender background on hover */
    color: white;
}

#nextButton {
    padding: 10px 10px;
    font-size: 18px;
    color:lightgrey;
    background-color: #0353A4;
    border-radius: 10px;
    border-color: #0353A4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
}

.button {
    padding: 10px 10px;
    font-size: 18px;
    color:lightgrey;
    background-color: #023E7D;
    border-radius: 10px;
    border-color: #0353A4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
}

#updateButton {
    padding: 5px 5px;
    font-size: 10px;
    color:lightgrey;
    background-color: #023E7D;
    border-radius: 10px;
    border-color: #0353A4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextButton:hover {
    background-color: #001845; /* Lighter lavender background on hover */
    color: white;
}

#backButton {
    padding: 10px 10px;
    font-size: 18px;
    color:lightgrey;
    background-color: #023E7D;
    border-radius: 10px;
    border-color: #0353A4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #001845; /* Lighter lavender background on hover */
    color: white;
}

.schedule {
    background-color: #AAA1C8;
}

.setting-link {
    background-color: #023E7D;
}


h1 {
    font-size: 56px;
    text-align: center;
}

.scroll {
    overflow-y:auto;
}

.better-sleep {
    margin-left: 5px;
    color: white;
    margin-bottom: 0px;
    font-size: 40px;
}

.better-you {
    margin-left: 25px;
    color: white;
    font-size: 45px;
}

.body-1 {
    font-family: "Bree Serif" ;
}

.login-please {
    margin-top:50px;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.login-button {
    padding: 10px 10px;
    font-size: 18px;
    color:#7D8597;
    background-color: #001845;
    border-radius: 10px;
    border-color: #023E7D;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #001233;
    color: white;
}

.survey-button {
    padding: 5px 5px;
    font-size: 18px;
    color:black;
    background-color: #001845;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-survey {
    padding-left: 2%;
    padding-bottom: 2%;
}
.survey {
    padding: 5%;
    height:10%;
}

.sleep-table {
    width: 100%;
    border-collapse: collapse;
}

.sleep-table th {
    background-color: #001233;
    color: #7D8597;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.sleep-table td {
    background-color: #023E7D;
    color: #979DAC;
    border-bottom: 1px solid #979DAC;
    padding: 8px;
}

#scheduleDiv {
    font-family: "Bree Serif" ;
    font-size: 15pt;
    line-height: 1.5;
    padding: 20px;
    background-color: #002855;
    color:lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#scheduleDiv2 {
    font-family: "Bree Serif" ;
    font-size: 15pt;
    line-height: 1.5;
    padding: 20px;
    background-color: #002855;
    color:lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.start-survey-buttons {
    padding-left: 5%;
    padding-bottom: 2%;
}

#start-survey-last-question {
    padding-bottom: 20%;
    padding-left: 2%;
    padding-bottom: 40%;
}


/* Body styles */
#meditation-body {
    font-family: Arial, sans-serif;
    padding-bottom: 50px; /* Add some padding to accommodate the footer */
}

/* Heading styles */
#meditation-heading {
    text-align: center;
    margin-top: 50px;
}

/* Tips for Meditating section styles */
#meditation-tips {
    background-color: #001845;
    color: #979DAC;
    padding: 20px;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 120px;
}


#meditation-tips ul {
    list-style-type: none;
    padding-left: 20px;

}

#meditation-tips li {
    margin-bottom: 10px;
}

/* Meditation videos section styles */
#meditation-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    padding:0%;
}

#meditation-videos iframe {
    margin: 5px;
}

/* Footer styles */
footer {
    background-color: #67AAF9;
    color: #fff;
    text-align: center;
    padding: 0px; 
    position: fixed;
    bottom: 0;
    width: 100%;    
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.container-2 {
    margin: 0 10%;
    
}

.setting-link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}

.setting-link {
    width: 250px;
    padding: 12px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: lightgrey;
    border: 3px solid #001845;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    /* text-transform: uppercase; */
}

.setting-link:hover {
    background-color: #001845;
    color: #fff;
}

#setting-h1 {
    font-size:40px;
}

.back-btn {
    /* position: absolute; */
    top: 10px;
    left: 10px;
    margin-left: 2%;
    z-index: 1000; /* Ensure the button stays above other elements */
}


.dark-mode {
    background-color: #231942;
    color: #D5C6E0;
  }

  .nav-link {
    margin: 0%;
  }

  .container {
    display: grid;
    grid-template-rows: 10% 30% 60%;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  #mood-section {
    margin-top: 5%;
    padding-bottom: 0%;
    text-align: center;
    }
    .medi-tips{
        text-align: center;
    }
      
  .mood-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between images as needed */
    }

  #meditation-tips {
    margin-bottom: 5%;
  }

  .nav-link:hover {
    color:  #023E7D;
  }

  a:active {
    color: #023E7D;
  }

  a:focus {
    color: #023E7D;
  }

/* Basic styling for survey questions */
.start-survey {
  margin-bottom: 20px;
}

.start-survey p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.start-survey-buttons {
  display: grid;
  grid-gap: 10px;
}

.start-survey-buttons label {
  display: block;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start-survey-buttons label:hover {
  background-color: #e0e0e0;
}

/* Adjust the appearance of radio buttons */
.start-survey-buttons input[type="radio"] {
  display: none;
}

.start-survey-buttons input[type="radio"] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #666;
  border-radius: 50%;
  vertical-align: middle;
}

.start-survey-buttons input[type="radio"]:checked + label::before {
  background-color: #333;
}
#loginButton {
    display: flex;
    justify-content: center;
}


#profile-h1 {
    font-size: 35pt;
    margin-bottom: 70%;
}

.edit-account-form{
    margin-top: 15px;
}

.edit-password-form{
    margin-top: 25px;
}

