h1 {
    font-size: 56px;
    text-align: center;
}

.scroll {
    overflow-y:auto;
}

.better-sleep {
    margin-left: 5px;
    color: white;
    margin-bottom: 0px;
    font-size: 40px;
}

.better-you {
    margin-left: 25px;
    color: white;
    font-size: 45px;
}

.body-1 {
    font-family:Arial, Helvetica, sans-serif;
}

.login-please {
    margin-top:50px;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    
}

.login-button {
    padding: 10px 10px;
    font-size: 18px;
    color:white;
    background-color: #000100;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.survey-button {
    padding: 5px 5px;
    font-size: 18px;
    color:white;
    background-color: #000100;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: 	#5f9ea0; /* Darker green background on hover */
}

.start-survey {
    padding-left: 2%;
    padding-bottom: 2%;
}
.survey {
    padding: 5%;
    height:10%;
    height: 650pt;;
}

.start-survey-buttons {
    padding-left: 5%;
    padding-bottom: 2%;
}

#start-survey-last-question {
    padding-left: 2%;
    padding-bottom: 40%;
}